
<div class="header">
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="col-lg-11">
                      <div class="navbar-header">
                          
                            <img src="../assets/image/logo.jpg" alt="easy Shopping" height="50" width="150"/>
                          
                        </div>
                  </div>
                  <div class="col-lg-1">
                    <app-cart-counter></app-cart-counter>
                  </div>
                  
                </div>
              </nav>
        </div>
        
      </div>
</div>
